In [13]:
import pandas as pd

In [17]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [26]:
beers =pd.read_csv("beers.csv", index_col=0)

In [32]:
brew = pd.read_csv("breweries.csv", index_col=0)

In [33]:
beers.head()

,abv,ibu,id,name,style,brewery_id,ounces
0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0

In [34]:
beers.info

<bound method DataFrame.info of         abv   ibu    id                  name                           style  \
0     0.050   NaN  1436              Pub Beer             American Pale Lager
1     0.066   NaN  2265           Devil's Cup         American Pale Ale (APA)
2     0.071   NaN  2264   Rise of the Phoenix                    American IPA
3     0.090   NaN  2263              Sinister  American Double / Imperial IPA
4     0.075   NaN  2262         Sex and Candy                    American IPA
...     ...   ...   ...                   ...                             ...
2405  0.067  45.0   928             Belgorado                     Belgian IPA
2406  0.052   NaN   807         Rail Yard Ale        American Amber / Red Ale
2407  0.055   NaN   620       B3K Black Lager                     Schwarzbier
2408  0.055  40.0   145   Silverback Pale Ale         American Pale Ale (APA)
2409  0.052   NaN    84  Rail Yard Ale (2009)        American Amber / Red Ale

      brewery_id  ounces
0            408    12.0
1            177    12.0
2            177    12.0
3            177    12.0
4            177    12.0
...          ...     ...
2405         424    12.0
2406         424    12.0
2407         424    12.0
2408         424    12.0
2409         424    12.0

[2410 rows x 7 columns]>

In [35]:
#data cleaning
beers.isna().sum()

abv             62
ibu           1005
id               0
name             0
style            5
brewery_id       0
ounces           0
dtype: int64

In [36]:
brew.head()

                        name           city state
0         NorthGate Brewing     Minneapolis    MN
1  Against the Grain Brewery     Louisville    KY
2   Jack's Abby Craft Lagers     Framingham    MA
3  Mike Hess Brewing Company      San Diego    CA
4    Fort Point Beer Company  San Francisco    CA

In [37]:
brew.isna().sum()

name     0
city     0
state    0
dtype: int64

In [38]:
brew.info

<bound method DataFrame.info of                               name           city state
0               NorthGate Brewing     Minneapolis    MN
1        Against the Grain Brewery     Louisville    KY
2         Jack's Abby Craft Lagers     Framingham    MA
3        Mike Hess Brewing Company      San Diego    CA
4          Fort Point Beer Company  San Francisco    CA
..                             ...            ...   ...
553            Covington Brewhouse      Covington    LA
554                Dave's Brewfarm         Wilson    WI
555          Ukiah Brewing Company          Ukiah    CA
556        Butternuts Beer and Ale  Garrattsville    NY
557  Sleeping Lady Brewing Company      Anchorage    AK

[558 rows x 3 columns]>