In [1]:
import pandas as pd

In [2]:
spotify =pd.read_csv("songs_normalize.csv", index_col=0)

In [3]:
spotify.head()

,song,duration_ms,explicit,year,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,genre
artist,,,,,,,,,,,,,,,,,
Britney Spears,Oops!...I Did It Again,211160,False,2000,77,0.751,0.834,1,-5.444,0,0.0437,0.3000,0.000018,0.3550,0.894,95.053,pop
blink-182,All The Small Things,167066,False,1999,79,0.434,0.897,0,-4.918,1,0.0488,0.0103,0.000000,0.6120,0.684,148.726,"rock, pop"
Faith Hill,Breathe,250546,False,1999,66,0.529,0.496,7,-9.007,1,0.0290,0.1730,0.000000,0.2510,0.278,136.859,"pop, country"
Bon Jovi,It's My Life,224493,False,2000,78,0.551,0.913,0,-4.063,0,0.0466,0.0263,0.000013,0.3470,0.544,119.992,"rock, metal"
*NSYNC,Bye Bye Bye,200560,False,2000,65,0.614,0.928,8,-4.806,0,0.0516,0.0408,0.001040,0.0845,0.879,172.656,pop

In [4]:
spotify.isna().sum()

song                0
duration_ms         0
explicit            0
year                0
popularity          0
danceability        0
energy              0
key                 0
loudness            0
mode                0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
tempo               0
genre               0
dtype: int64

In [5]:
lifecost=pd.read_csv("costofliving.csv", index_col=0)

In [6]:
lifecost.head()

,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
Rank,,,,,,,
NaN,"Hamilton, Bermuda",149.02,96.10,124.22,157.89,155.22,79.43
NaN,"Zurich, Switzerland",131.24,69.26,102.19,136.14,132.52,129.79
NaN,"Basel, Switzerland",130.93,49.38,92.70,137.07,130.95,111.53
NaN,"Zug, Switzerland",128.13,72.12,101.87,132.61,130.93,143.40
NaN,"Lugano, Switzerland",123.99,44.99,86.96,129.17,119.80,111.96

In [7]:
lifecost.isna().sum()

City                              0
Cost of Living Index              0
Rent Index                        0
Cost of Living Plus Rent Index    0
Groceries Index                   0
Restaurant Price Index            0
Local Purchasing Power Index      0
dtype: int64